# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
prj/xcode4/macos/obj/
prj/xcode4/ios/obj/
tests/MemPoolTest/.vs/
*.ipch
test/MemPoolTest/Debug/*
test/MemPoolTest/Release/*
*.iobj
*.ipdb
*.xcuserstate
*.user
*.idb
*.pdb
prj/vs2019/.vs/
prj/vs2019/obj/
test/MemPoolTest/.vs/
